<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>holaa </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/insert">registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/edit">editar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/view">visualizar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/delete">eliminar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/insert2">insert2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pais">paises</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container p-3">
  {% block content %}
  {% endblock %}
</div>
</body>
</html>